name: Frontend CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-ci.yml"
      - "docker-compose.yml"
      - ".env"
      - "terraform/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.6.0"
          cache: "npm"
          cache-dependency-path: ./frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Run typecheck
        run: npm run typecheck

      - name: Run format check
        run: npm run format:check
